<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10724480878-6gol4137502ugc9hc99g2k4jbnu1slhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10724480878-6gol4137502ugc9hc99g2k4jbnu1slhd</string>
	<key>API_KEY</key>
	<string>AIzaSyDuOYjfliJT-Rf6O3Eh_PjVpD99ov6It6s</string>
	<key>GCM_SENDER_ID</key>
	<string>10724480878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cksoftwaree.qrdepo</string>
	<key>PROJECT_ID</key>
	<string>qrdepo-10cf3</string>
	<key>STORAGE_BUCKET</key>
	<string>qrdepo-10cf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10724480878:ios:510af7c0255ddc5322137f</string>
</dict>
</plist>